* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* NAV */

nav {
    display: flex;
    padding: 0 8rem;
}

.logo {
    width: 30%;
    font-size: 2.4rem;
    padding: 2rem 0;
}

.nav-links {
    display: flex;
    width: 100%;
}

.nav-links ul {
    display: flex;
    justify-content: end;
    flex: 1 1 auto;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.8rem;
}

.nav-links ul li {
   padding: 2rem 2.5rem;
}

nav a:link {
    color: #e5e7eb;
    text-decoration: none;
}

.nav-links a:hover {
    color: #f9faf8;
    text-decoration: underline;
}

/* MAIN */
main {
    background: #1f2937;
    color: #f9faf8;
    padding-bottom: 8rem;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 10rem 0 8rem;
}

.hero {
    flex: 1 1 auto;
    padding-right: 8rem;
}

h1 {
    font-size: 4.8rem;
    margin: 0;
}

.hero p {
    font-size: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-top: 0;
}

.hero a:link {
    text-decoration: none;
    background: #3882f6;
    color: #e5e7eb;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.8rem;
}

.hero a:hover {
    background: #2969ce;
}

/* INFO */

.info {
    padding: 2rem 8rem;
}

.info-header {
    font-size: 3.6rem;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding-bottom: 4rem;
}

.info-img-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.info-img-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* TESTIMONIAL */

.testimonial {
    background: #e5e7eb;
    padding: 4rem 8rem;
}

.testimonial-text {
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 200;
    color: #1f2937;
}

.testimonial-author {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: right;
}

/* CTA */

.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 4rem auto;
    padding: 4rem 8rem;
    background: #3882f6;
    color: #e5e7eb;
    border-radius: 1rem;
}

.cta-text-container {
    padding-right: 4rem;
}

.cta-header {
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.cta p {
    font-size: 1.8rem;
}

.sec-cta-button {
    color: #e5e7eb;
    border: 1px solid #e5e7eb;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    text-decoration: none;
    display: inline-block;
    flex-shrink: 0;
}

.sec-cta-button:hover {
    background: #3882f6;
}

/* FOOTER */

footer {
    background: #1f2937;
    color: #f9faf8;
    font-size: 1.4rem;
    text-align: center;
    padding: 4rem 0;
}