* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

main {
    background: #1f2937;
    color: #f9faf8;
}

nav {
    display: flex;
}

.logo {
    width: 30%;
    font-size: 2.4rem;
    padding: 2rem 0;
}

.nav-links {
    display: flex;
    width: 100%;
}

.nav-links ul {
    display: flex;
    justify-content: end;
    flex: 1 1 auto;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.8rem;
}

.nav-links ul li {
   padding: 2rem 2.5rem;
}

nav a:link {
    color: #e5e7eb;
    text-decoration: none;
}

.nav-links a:hover {
    color: #f9faf8;
    text-decoration: underline;
}