* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* NAV */

nav {
    display: flex;
    padding: 0 8rem;
}

.logo {
    width: 30%;
    font-size: 2.4rem;
    padding: 2rem 0;
}

.nav-links {
    display: flex;
    width: 100%;
}

.nav-links ul {
    display: flex;
    justify-content: end;
    flex: 1 1 auto;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.8rem;
}

.nav-links ul li {
   padding: 2rem 2.5rem;
}

nav a:link {
    color: #e5e7eb;
    text-decoration: none;
}

.nav-links a:hover {
    color: #f9faf8;
    text-decoration: underline;
}

/* MAIN */
main {
    background: #1f2937;
    color: #f9faf8;
    padding-bottom: 8rem;
}

.hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8rem 10rem 0 8rem;
}

.hero {
    flex: 1 1 auto;
    padding-right: 8rem;
}

h1 {
    font-size: 4.8rem;
    margin: 0;
}

.hero p {
    font-size: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-top: 0;
}

.hero a:link {
    text-decoration: none;
    background: #3882f6;
    color: #e5e7eb;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.8rem;
}